In [1]:
x=10 #x is the identifier, x=10 is a variable assignment

In [2]:
print(x)

10

In [3]:
type(x)

int

In [4]:
x=10
y=20.5
z="Hello"

In [5]:
type(x)

int

In [6]:
type(y)

float

In [7]:
type(z)

str

In [8]:
x=10
y=20

In [9]:
x+y

30

In [10]:
x=10
y=20
a=x+y
print(a)

30

In [11]:
x="india"
y="kerala"
z=x+y
print(z)

indiakerala

In [12]:
x=20
y=30
x+y

50

In [13]:
x="20"
y="30"
x+y

'2030'

In [14]:
x=input("Enter a Value")

Enter a Value3050

In [15]:
x=input('Enter First Number')
y=input('Enter Second Number')
z=x+y
print(z) # this is what happenswhen you dont enter int(inpput())

Enter First Number50
Enter Second Number60
5060

In [16]:
x=int(input('Enter First Number'))
y=int(input('Enter Second Number'))
z=x+y
print(z)

Enter First Number50
Enter Second Number100
150

In [17]:
x=int(input('Enter First Number'))
y=int(input('Enter Second Number'))
a=input('Enter the Operations')

if a=="Add":
    z=x+y
    print(z)
if a=="Subtraction":
    z=x-y
    print(z)
if a=="Multiplication":
    z=x*y
    print(z)
if a=="Divide":
    z=x/y
    print(z)

Enter First Number150
Enter Second Number50
Enter the OperationsAdd
200

In [18]:
marks = int(input("Enter your marks"))
if marks > 50:
    print ("You are Passed")
if marks < 50:
    print ("You are Failed")

Enter your marks700000
You are Passed

In [19]:
salary = int(input("Enter your Salary"))
if salary > 250000:
    print("You are not Taxable")
if salary < 250000:
    print("You are Taxable")

Enter your Salary200000
You are Taxable

In [20]:
salary = int(input("Enter your Salary"))
if salary > 250000: 
    z=(salary-250000)*10/100
    print(z,"You are Taxable")
    
if salary < 250000:
    print("You are not Taxable")

Enter your Salary500000
25000.0 You are Taxable

In [25]:
salary = int(input("Enter your Salary"))


if salary > 250000 and salary < 500000: 
    z=(salary-250000)*10/100
    print(z,"You are Taxable")
    
if salary < 250000:
    print("You are not Taxable")

Enter your Salary450000
20000.0 You are Taxable

In [26]:
x=0
while x<100:
    print(x)
    x=x+1

0
1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19
20
21
22
23
24
25
26
27
28
29
30
31
32
33
34
35
36
37
38
39
40
41
42
43
44
45
46
47
48
49
50
51
52
53
54
55
56
57
58
59
60
61
62
63
64
65
66
67
68
69
70
71
72
73
74
75
76
77
78
79
80
81
82
83
84
85
86
87
88
89
90
91
92
93
94
95
96
97
98
99

In [29]:
#write a programm to get the sum of till first 100 numbers?

x=0
paper=0
while x<100:
    paper=x+paper
    x=x+1
    print(paper)
# this is while looop

0
1
3
6
10
15
21
28
36
45
55
66
78
91
105
120
136
153
171
190
210
231
253
276
300
325
351
378
406
435
465
496
528
561
595
630
666
703
741
780
820
861
903
946
990
1035
1081
1128
1176
1225
1275
1326
1378
1431
1485
1540
1596
1653
1711
1770
1830
1891
1953
2016
2080
2145
2211
2278
2346
2415
2485
2556
2628
2701
2775
2850
2926
3003
3081
3160
3240
3321
3403
3486
3570
3655
3741
3828
3916
4005
4095
4186
4278
4371
4465
4560
4656
4753
4851
4950