In [1]:
x = (1,2,3,4)
x[1]

2

In [11]:
x = ["George", "Varghese","Salmiya","Thevera","20","Guten Morgen"]

In [12]:
x[0]

'George'

In [13]:
x[2]

'Salmiya'

In [14]:
x[4]

'20'

In [15]:
x[-1]

'Guten Morgen'

In [17]:
x[-6]

'George'

In [18]:
x[4] = "Varghese Joseph"

In [19]:
x

['George', 'Varghese', 'Salmiya', 'Thevera', 'Varghese Joseph', 'Guten Morgen']

In [20]:
x[5] = "Suie George"

In [21]:
x

['George', 'Varghese', 'Salmiya', 'Thevera', 'Varghese Joseph', 'Suie George']

# While Loop

In [22]:
x = 0
while x<10:
    print("Value of x=", x)
    x=x+1

Value of x= 0
Value of x= 1
Value of x= 2
Value of x= 3
Value of x= 4
Value of x= 5
Value of x= 6
Value of x= 7
Value of x= 8
Value of x= 9

In [27]:
    x=0
    total=0
while x<=100:
        total=total+x
        x=x+1
        print(total)

0
1
3
6
10
15
21
28
36
45
55
66
78
91
105
120
136
153
171
190
210
231
253
276
300
325
351
378
406
435
465
496
528
561
595
630
666
703
741
780
820
861
903
946
990
1035
1081
1128
1176
1225
1275
1326
1378
1431
1485
1540
1596
1653
1711
1770
1830
1891
1953
2016
2080
2145
2211
2278
2346
2415
2485
2556
2628
2701
2775
2850
2926
3003
3081
3160
3240
3321
3403
3486
3570
3655
3741
3828
3916
4005
4095
4186
4278
4371
4465
4560
4656
4753
4851
4950
5050

write a programm to get the sum of till first 100 numbers?

In [28]:
x=0
paper=0
while x<100:
    paper=x+paper
    x=x+1
    print(paper)
# this is while looop

0
1
3
6
10
15
21
28
36
45
55
66
78
91
105
120
136
153
171
190
210
231
253
276
300
325
351
378
406
435
465
496
528
561
595
630
666
703
741
780
820
861
903
946
990
1035
1081
1128
1176
1225
1275
1326
1378
1431
1485
1540
1596
1653
1711
1770
1830
1891
1953
2016
2080
2145
2211
2278
2346
2415
2485
2556
2628
2701
2775
2850
2926
3003
3081
3160
3240
3321
3403
3486
3570
3655
3741
3828
3916
4005
4095
4186
4278
4371
4465
4560
4656
4753
4851
4950

In [33]:
# creating a mathematical Factorial loop
z=int(input("Enter a number : "))
total=1
x=1
while x<=z:
    total=total*x
    x=x+1
print(total)

Enter a number : 5
120

In [32]:
z=int(input("Enter a number: "))
total=0
x=2
while x<=z:
    total=total+x
    x=x+2
print(total)

Enter a number: 4
6

In [34]:
x=0
total=0
while x<=100:
    total=total+x
    x=x+5
print(total)

1050

In [35]:
10%5

0

In [36]:
5%10

5

In [37]:
x=0
total=0
while x<=100:
    if x%5==0:
        total=total+x
        x=x+5
         
print(total)

1050

# For Loop

In [38]:
for x in range(100):
    print(x)

0
1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19
20
21
22
23
24
25
26
27
28
29
30
31
32
33
34
35
36
37
38
39
40
41
42
43
44
45
46
47
48
49
50
51
52
53
54
55
56
57
58
59
60
61
62
63
64
65
66
67
68
69
70
71
72
73
74
75
76
77
78
79
80
81
82
83
84
85
86
87
88
89
90
91
92
93
94
95
96
97
98
99

In [39]:
total=0
for x in range(100):
    total=total+x
print(total)

4950

In [40]:
z=int(input("Enter the number :"))
total=1
for x in range(1,z+1):
    total=total*x
print(total)

Enter the number :5
120